*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

//----------------------------------------------Hamburger--------------------------------
section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: pink;
}
.hamburger {

}